<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.gnychis.awmon"
      android:installLocation="preferExternal"
      android:versionCode="1"
      android:versionName="1.0"
      >
      
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
      
	<uses-feature android:name="android.hardware.usb.host" />
    <uses-sdk android:targetSdkVersion="16" android:minSdkVersion="10"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true" android:theme="@android:style/Theme.NoTitleBar">
        <uses-library android:name="com.google.android.maps"/>
        <activity android:name=".GUIs.MainInterface"
            	  android:screenOrientation="portrait"
                  android:label="Android Wireless Monitor: Main Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
       	<service android:enabled="true" android:name=".BackgroundService.BackgroundService" />
       	
		<receiver android:name=".BackgroundService.BootupReceiver">
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED" />
		    </intent-filter>  
		</receiver>
        
		<!--  Activities that belong to the "Training Stage" -->
		<activity android:name="com.gnychis.awmon.GUIs.Welcome" class=".Welcome" android:screenOrientation="portrait"></activity>
		<activity android:name="com.gnychis.awmon.GUIs.HomeLocation" class=".HomeLocation" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"></activity>
		<activity android:name="com.gnychis.awmon.GUIs.TurnDevicesOn" class=".TurnDevicesOn" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"></activity>
		<activity android:name="com.gnychis.awmon.GUIs.YourDevices" class=".YourDevices" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"></activity>
		
        <activity android:name=".Depricated.ManageNetworks" class=".ManageDevices" android:label="Device Management" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gnychis.awmon.GUIs.AddNetwork" class=".AddNetwork" android:label="Add Network" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gnychis.awmon.GUIs.GraphWispy" class=".GraphWispy" android:label="Graph Wispy" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gnychis.awmon.GUIs.Status" class=".Status" android:label="Application Status" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gnychis.awmon.GUIs.Measurements" class=".Measurements" android:label="Developer Measurements" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gnychis.awmon.GUIs.SnapshotList" class=".SnapshotList" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"></activity>
        
    </application> 

</manifest>