<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.gnychis.awmon"
      android:installLocation="preferExternal"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
      
	<uses-feature android:name="android.hardware.usb.host" />
    <uses-sdk android:targetSdkVersion="10" android:minSdkVersion="10"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".Interfaces.AWMon"
            	  android:screenOrientation="portrait"
                  android:label="Android Wireless Monitor: Main Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
       	<service android:enabled="true" android:name=".BackgroundService.BackgroundService" />
		
		<receiver android:name=".BackgroundService.BootupReceiver">
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED" />
		    </intent-filter>  
		</receiver>
        
		<activity android:name="com.gnychis.awmon.Interfaces.Welcome" class=".Welcome" android:label="Welcome, please answer a few questions..." android:screenOrientation="portrait"></activity>
        <activity android:name="com.gnychis.awmon.Interfaces.ManageNetworks" class=".ManageDevices" android:label="Device Management" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gnychis.awmon.Interfaces.AddNetwork" class=".AddNetwork" android:label="Add Network" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gnychis.awmon.Interfaces.GraphWispy" class=".GraphWispy" android:label="Graph Wispy" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gnychis.awmon.Interfaces.Status" class=".Status" android:label="Application Status" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gnychis.awmon.Interfaces.Measurements" class=".Measurements" android:label="Developer Measurements" android:screenOrientation="portrait"></activity>
    </application> 

</manifest>