# Two vid/pid pairs for Wispy1 USB dongle
ATTRS{idVendor}=="1781", ATTRS{idProduct}=="083e", MODE="0660", GROUP="plugdev"
ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="0bad", MODE="0660", GROUP="plugdev"
ATTRS{idVendor}=="1781", ATTRS{idProduct}=="083f", MODE="0660", GROUP="plugdev"
ATTRS{idVendor}=="1dd5", ATTRS{idProduct}=="5000", MODE="0660", GROUP="plugdev"
ATTRS{idVendor}=="1dd5", ATTRS{idProduct}=="2400", MODE="0660", GROUP="plugdev"
ATTRS{idVendor}=="1dd5", ATTRS{idProduct}=="0900", MODE="0660", GROUP="plugdev"
