# q932.cnf
# Q.932 conformation file
# 2007  Tomas Kukosa

# $Id: q932.cnf 21602 2007-04-27 08:10:18Z kukosa $

#.PDU

InterpretationComponent
NetworkFacilityExtension
NetworkProtocolProfile

#.EXPORTS EXTERN VALS_WITH_TABLE

# Addressing-Data-Elements
PresentedAddressScreened
PresentedAddressUnscreened
PresentedNumberScreened
PresentedNumberUnscreened
Address
PartyNumber
PartySubaddress
ScreeningIndicator
PresentationAllowedIndicator

#.FIELD_RENAME

# Addressing-Data-Elements
PresentedNumberScreened/presentationAllowedNumber      presentationAllowedNumberScreened
PresentedAddressScreened/presentationRestrictedAddress presentationRestrictedAddressScreened
PresentedNumberScreened/presentationRestrictedNumber   presentationRestrictedNumberScreened

#.END

